
<%- include partials/header.ejs %>
    <%- include partials/top_nav.ejs %>
        <!-- About Section -->
        <section id="about">
            <div class="container mt-4 pt-4">
                <h1 class="text-center">About Me</h1>
                <div class="row mt-4">
                    <div class="col-lg-4">
                        <img src="" class="profilepicture">
                    </div>
                    <div class="col-lg-8">
                        <p class="about_desc">My name is Ahmed Munshi, I'm from Zambia, its a country in sub saharan africa.
                             </p>
                             <p class="about_desc">
                                Im an aspiring Software Engineer with interests in photography, sports and gaming.
                             </p>

                             
                        <p class="about_desc">I am highly organised and efficient, with a keen eye for detail. I am used
                            to working to
                            tight deadlines and always aim to produce high quality work.</p>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <ul>
                                    <li>Name: Ahmed Munshi</li>
                                    <li>Age: 18</li>
                                    <li>Email Id: ahmedmunshi29@gmail.com</li>
                                </ul>
                            </div>

                        </div>
                        <p>Link to my resume: <a href="" target="_blank">Under Construction</a></p>
                    </div>
        </section>
        <!-- End of About Section -->

        <%- include partials/bottom_nav.ejs %>
            <%- include partials/footer.ejs %>