
<%- include partials/header.ejs %>
    <%- include partials/top_nav.ejs %>
        <!-- Projects Section -->

        <section id="portfolio">
            <div class="container mt-3">
                <h1 class="text-center">Projects</h1>
                <div class="row">
                    <div class="col-lg-4 mt-4">
                        <div class="card">
                            <img class="card-img-top" src="/Assets/images/under-construction.png" alt="Project1"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">W.I.P</h4>
                                <p class="card-text">Work In Progress</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="card portfolioContent">
                            <img class="card-img-top" src="/Assets/images/under-construction.png" alt="Project2"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">W.I.P</h4>
                                <p class="card-text">Work In Progress.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="card portfolioContent">
                            <img class="card-img-top" src="/Assets/images/under-construction.png" alt="Project3"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">W.I.P</h4>
                                <p class="card-text">Work In Progress
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- End of Projects Section -->

        <%- include partials/bottom_nav.ejs %>
            <%- include partials/footer.ejs %>